@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body {
    height: 100vh;
    background-color: #00BDAD;
}
.header {
    text-align: center;
    margin: 30px 0;
}
.boxContainer {
    display: grid;
    background-color: #00A193;
    grid-template-rows: 31% 32% 31%;
    grid-template-columns: 31% 32% 31%;
    /* border: 1px solid red; */
    gap: 4%;
    width: 400px;
    height: 400px;
    margin: 50px auto;
}
.box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #00BDAD;
    font-size: 5rem;
    cursor: pointer;
    user-select: none;
}
/* .box:hover {
    background-color: whitesmoke;
} */