@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body {
    height: 100vh;
    background-color: #00BDAD;
    /* overflow-y: hidden; */
}
.header {
    text-align: center;
    margin: 50px 0;
    font-size: 3rem;
}
.boxContainer {
    display: grid;
    background-color: #00A193;
    grid-template-rows: 31% 32% 31%;
    grid-template-columns: 31% 32% 31%;
    /* border: 1px solid red; */
    gap: 4%;
    width: 400px;
    height: 400px;
    margin: 0 auto;
}
.box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #00BDAD;
    font-size: 5rem;
    cursor: pointer;
    user-select: none;
    background-position: center;
    background-repeat: no-repeat;
}
/* .box:hover {
    background-color: whitesmoke;
} */
.scores {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    /* border: 1px solid red; */
    height: 100px;
    margin-top: 10px;
}
.player {
    color: #00A193;
    font-size: 1.5rem;
}